<div class="container">
  <app-bartool></app-bartool>
  <div class="row">
    <p id="bienvenida">BIENVENIDO A JAVI'S VIDEOGAMES</p>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img id="user" src="../../assets/User_icon_2.svg.png">
    </div>
    <div class="col-md-9">
      <ul class="list-group-m3">
        <li class="list-group-item">
          <p class="email">EMAIL : <span class="hueco1">{{user.email}}</span></p>
          <p class="password">PASSWORD : <span class="hueco1">{{user.password}}</span></p>
          <button class="btn btn-danger" (click)="cerrarSesion()">CERRAR SESIÓN</button>
        </li>
      </ul>
    </div>
  </div>
  <app-footer></app-footer>
</div>


