@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Oswald&display=swap');

#javi{
  padding-top: 30px;
  font-family: 'Fredoka One', cursive;
}

#boton{
  padding-top: 4px;
  background: none;
  border: none;
  outline: none;
  margin-left: 250px;
  font-family: 'Fredoka One', cursive;
}

#videojuego{
  padding-top: 5px;
  margin-left: 100px;
  margin-top: 15px;
  font-family: 'Fredoka One', cursive;
}

#cabecera{
  background-color: blue;
}

#fondo{
  background-color: aqua;
}

#javi{
  color: gold;
}

#videojuego:hover{
  color: gold;
}

.imagen{
  width: 100px;
  height: 100px;
  margin-top: 10px;
}

.logo{
  border-radius: 30px;
  margin-left: 250px;
  width: 150px;
  height: 150px;
}

#imagen{
  width: 100px;
  height: 100px;
  margin-top: 10px;
}

#bienvenida{
  text-align: center;
  font-size: 50px;
  font-family: 'Fredoka One', cursive;
}

#user{
  width: 300px;
  height: 300px;
  text-align: center;
}
