@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Oswald&display=swap');

#javi{
  padding-top: 30px;
  font-family: 'Fredoka One', cursive;
}

#boton{
  padding-top: 4px;
  background: none;
  border: none;
  outline: none;
  margin-left: 250px;
  font-family: 'Fredoka One', cursive;
}

#videojuego{
  padding-top: 5px;
  margin-left: 100px;
  margin-top: 15px;
  font-family: 'Fredoka One', cursive;
}

#cabecera{
  background-color: blue;
}

#fondo{
  background-color: aqua;
}

#javi{
  color: gold;
}

#videojuego:hover{
  color: gold;
}

.imagen{
  width: 100px;
  height: 100px;
  margin-top: 10px;
}

.logo{
  border-radius: 30px;
  margin-left: 250px;
  width: 150px;
  height: 150px;
}

#imagen{
  width: 100px;
  height: 100px;
  margin-top: 10px;
}

.spann{
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  color: cadetblue;
}

.add{
  margin-top: 150px;
  border-radius: 5px;
  background-color: transparent;
  border: none;
}

.quit{
  margin-top: 150px;
  border-radius: 5px;
  background-color: transparent;
  border: none;
}

.buy{
  width:150px;
  margin-top: 150px;
  border-radius: 5px;
  background-color: lightgreen;
}

#imagen{
  margin-left: 300px;
  width: 400px;
  height: 400px;
}

#texto{
  margin-top: 60px;
  font-family: 'Oswald', sans-serif;
}

#botonn{
  margin-left: 180px;
  margin-top: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: cadetblue;
}

#botonn:hover{
  background-color: lightgreen;
}
