<div class="container">
  <app-bartool></app-bartool>
  <app-detalle *ngIf="productoSeleccionado" [product]="productoSeleccionado"></app-detalle>
    <table class="table table-bordered table-striped">
      <thead>
        <th>FOTO</th>
        <th>NAME</th>
        <th>PRICE</th>
        <th>DESCRIPTION</th>
      </thead>
      <tbody>
          <tr *ngFor="let product of products">
              <td><img (click)="abrirModal(product)" *ngIf="product?.foto"
                src="http://localhost:8080/product/upload/img/{{product.foto}}" class="img-thumbnail rounded"
                style="width: 250px; cursor:pointer;">

              <img (click)="abrirModal(product)" *ngIf="!product?.foto"
              src="http://localhost:8080/images/cruz.jpg" class="img-thumbnail rounded"
              style="width: 250px; cursor:pointer;"></td>
            <td id="name">{{product.name}}</td>
            <td id="price">{{product.price}}</td>
            <td id="description" >{{product.description}}</td>
            <button class="boton" (click)="addToCart(product)"><span id="aniadir">AÑADIR</span></button>
          </tr>
      </tbody>
    </table>
    <app-footer></app-footer>
  </div>
