@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fredoka+One&family=Odibee+Sans&family=Oswald&display=swap');

#javi{
  padding-top: 30px;
  font-family: 'Fredoka One', cursive;
}

#boton{
  padding-top: 4px;
  background: none;
  border: none;
  outline: none;
  margin-left: 250px;
  font-family: 'Fredoka One', cursive;
}

#videojuego{
  padding-top: 5px;
  margin-left: 100px;
  margin-top: 15px;
  font-family: 'Fredoka One', cursive;
}


#videojuego:hover{
  color: gold;
}

.imagen{
  width: 100px;
  height: 100px;
  margin-top: 10px;
}

.logo{
  border-radius: 30px;
  margin-left: 250px;
  width: 150px;
  height: 150px;
}

#imagen{
  width: 175px;
  height: 150px;
  margin-top: -10px;
}

.imagen{
  width: 100px;
  height: 100px;
}

.titulo{
  font-family: 'Oswald', sans-serif;
  font-size: 70px;
  color: greenyellow;
  margin-top: 15px;
}


#cabecera{
  background-color: cadetblue;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#name{
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

#aniadir{
  font-weight: bold;
  color: black;
}

.boton{
  border-radius: 10px;
  margin-top: 20px;
  background-color: cadetblue;
}
